.wikiHandlerContent {
  display: flex;
}

.searchArea {
  flex: 1;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.fetchedHTML {
  flex: 1;
}

.addedSvgs {
  flex: 1;
  margin: 0 30px;
}
