.youTubeHandlerContent {
  display: flex;
  flex-direction: column;
}

.searchArea {
  flex: 1;
}

.videosWrapper {
  flex: 1;
  display: flex;
  margin: 15px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  cursor: pointer;
}

.video:hover {
  background-color: #efefef;
  transition: all 0.2s;
}

.videoTitle {
  text-align: center;
  height: 85px;
}

.videoFeedbackContainer {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.deleteFeedbackIcon {
  height: 16px;
  margin-left: 5px;
  opacity: 0.3;
}

.deleteFeedbackIcon:hover {
  opacity: 1;
  transition: all 0.2s;
}
