body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 180px;
  padding: 10px;
  margin: 30px;
  border: 2px dashed;
  font-size: 15px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: all 0.2s;
}

label {
  padding: 15px;
}

img {
  align-self: center;
  margin-bottom: 10px;
}

pre {
  margin: 30px;
}

.appWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controller {
  background-color: #efefef;
  position: sticky;
  top: 0px;
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.moduleName {
  width: 80px;
  padding: 5px;
  text-align: center;
}
